{
    "local": {
        "mode": "local",
        "database" : "databaseLocal",
        "port": 3000
    },
    "staging": {
        "mode": "staging",
        "database" : "databaseStaging",
        "port": 3000
    },
    "production": {
        "mode": "production",
        "database" : "databaseProduction",
        "port": 3000
    }
}