<div class="row">
        <div class="col-sm-6">
            <form class="form">
                <div class="form-group">
                    <label for="exampleInputName2">Name</label>
                    <select type="text" class="form-control" ng-model="people" ng-change="getData()">
                        <option ng-repeat="data in peoples |  orderBy: 'name'" value="{{data.code}}"  >{{data.name}} </option>
                    </select>
                </div>
                
            </form>
        </div>
        <div ng-hide="!people" class="col-sm-6">
            <div class="row">
                <div  class="col-sm-6">
                    
                        <div class="form-group">
                            <label for="exampleInputEmail2">Start Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="params.startDate" is-open="datePicker.popupFrom.opened"  max-date="datePicker.popupFrom.maxDate"  ng-required="false" close-text="Close" ng-change="getData()"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openDatePicker('from')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                </div>
                
                <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail2">End Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="params.endDate" is-open="datePicker.popupTo.opened" min-date="datePicker.popupTo.minDate"  max-date="datePicker.popupTo.maxDate" ng-required="false" close-text="Close"  ng-change="getData()" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openDatePicker('to')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                </div>
                
            </div>
        </div>
        <div class="col-lg-12" style="padding-bottom:20px">
            <highchart id="chart1" config="chartConfig"></highchart>
        </div>
        <div class="col-lg-12" ng-hide="!tableData">
            <h2>Activity Table</h2>
            <table class="table table-bordered">
                <tr>
                    <th >
                        Rank
                    </th>
                    <th >
                        Activity
                    </th>
                    <th >
                        Category
                    </th>
                </tr>
                <tr ng-repeat="rows in tableData.data.rows" >
                    <td>
                        {{rows[0]}}
                    </td>
                    <td>
                        {{rows[3]}}
                    </td>
                    <td>
                        {{rows[4]}}
                    </td>
                </tr>
            </table>
        </div>
</div>